* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://img.freepik.com/free-photo/product-backdrop-flower-shadows-empty-white-wooden-floor_53876-126939.jpg?w=1380&t=st=1721064963~exp=1721065563~hmac=5d2e2a37ce9f35e6e865617f345556eff1c33841a4bf69de5ba697e737fecf13");
  background-size: cover;
  background-position: center;
  color: rgb(37, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
}
#root {
  width: 100%;
}
